.one{
    text-align: center;
    color: aliceblue;
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: justify;
    font-size: large;
    background-color: chartreuse;
    font-family: cursive;
    color: crimson;
}
.two{
    color: red;
    
}
.bg{
    background-color: darkred;
    color: aqua;
}